<html>
  <head>
    <title>CSGO Statictics Analyzer</title>
    <style>
        column { float: left; width: 50%; }
    </style>
    <a href="http://localhost:5026/"> <img src="{{url_for('static', filename='home.png')}}"  height=50/> </a>
  </head>
  <body>
    <h1>Find out the bombsite that is more advantageous</h1>

    <form action="http://localhost:5026/show_q1" method="post">

        <!-- <p>Map: <input type = "text" name="map"/> </p> -->

        <label for="maps">Map:</label>
        <select id="maps" name="map">
            <option value="de_dust2">Dust 2</option>
            <option value="de_mirage">Mirage</option>
            <option value="de_inferno">Inferno</option>
            <option value="de_overpass">Overpass</option>
            <option value="de_cache">Cache</option>
        </select>

        <br>
        <br>

        <label for="round_type">Round Type:</label>
        <select id="round_type" name="round_type">
            <option value="NORMAL">Normal</option>
            <option value="ECO">Eco</option>
            <option value="SEMI_ECO">Semi Eco</option>
            <option value="FORCE_BUY">Force Buy</option>
            <option value="PISTOL_ROUND">Pistol Round</option>
        </select>

        <p><input type="submit" value="Submit"/></p>
    </form>
  </body>

</html>