<html>
  <head>
    <title>CSGO Statictics Analyzer</title>
    <a href="http://localhost:5026/"> <img src="{{url_for('static', filename='home.png')}}"  height=50/> </a>
  </head>
  <style>
    table, th, td {border: 1px solid black; }
  </style>
  <body>
    <h1>Result table:</h1>
<!-- style="border: 1px solid black" -->
    <table>
        <tr>
          <th>Match ID</th>
          <th>Round</th>
          <th>CT Alive</th>
          <th>T Alive</th>
        </tr>
        
        {% for row in output_table1 %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td> 
               <td>{{row[3]}}</td>
               <td>{{row[4]}}</td>
            </tr>
        {% endfor %}
    </table>

    <br>

    {% if condition == True %}
        Bomb Planted at {{bomb_site}}!
        <br>
        <br>
        <table>
            <tr>
                <th>Match ID</th>
                <th>Round</th>
                <th>CT Alive</th>
                <th>T Alive</th>
            </tr>
            {% for row in output_table2 %}
                <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td> 
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <br>
    Round Winner: {{round_winner}}.
    <br>

    </ul>

  </body>

</html>