<html>
  <head>
    CSGO Statictics Analyzer
  </head>
  <body>
    <h1>Please Choose One</h1>

    <ul>
        <li> <a href="http://localhost:5026/query1">Find out the bombsite that is more advantageous</a> </li>
        <li> <a href="http://localhost:5026/query2">Player and Match statistics</a> </li>
        <li> <a href="http://localhost:5026/query3">Best location for using a weapon</a> </li>
        <li> <a href="http://localhost:5026/query4">Hotspots on a map</a> </li>
        <!-- <li> <a href="http://localhost:5026/query5">Dominating</a> </li> -->
        <li> <a href="http://localhost:5026/query6">Weapon Suggestion</a> </li>
        <li> <a href="http://localhost:5026/query7">Predict Match Results</a> </li>
        <li> <a href="http://localhost:5026/query8">Locations where grenades are used most of the time</a> </li>
        <li> <a href="http://localhost:5026/query9">Loadout Suggestion</a> </li>
        <li> <a href="http://localhost:5026/query10">Round Highlights</a> </li>
        <li> <a href="http://localhost:5026/query11">Update Weapon Info</a> </li>
    </ul>

  </body>

</html>