<html>
  <head>
    CSGO Statictics Analyzer
  </head>
  <body>
    <h1>Please Choose One</h1>

    <ul>
        <li> <a href="http://localhost:5000/query1">Find out the bombsite that is more advantageous</a> </li>
        <li> <a href="http://localhost:5000/query2">Player and Match statistics</a> </li>
        <li> <a href="http://localhost:5000/query3">Best location for using a weapon</a> </li>
        <li> <a href="http://localhost:5000/query4">Hotspots on a map</a> </li>
        <li> <a href="http://localhost:5000/query5">Dominating</a> </li>
        <li> <a href="http://localhost:5000/query6">Weapon Suggestion</a> </li>
        <li> <a href="http://localhost:5000/query7">Predict Match Results</a> </li>
        <li> <a href="http://localhost:5000/query8">Display ideal locations for using grenades</a> </li>
        <li> <a href="http://localhost:5000/query9">Insert / Update</a> </li>
        <li> <a href="http://localhost:5000/query10">Loadout Suggestion</a> </li>
    </ul>

  </body>

</html>